/*
// *************************************************** //
// * Overpress Design  ******************************* //
// * Alpha Stage ************************************* //
// * Developed by Carlos Eduardo Barbosa de Almeida  * //
// *************************************************** //
*/

body {
    background-color: black;
}
body, app-overpress, app-slides, app-slide {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}
app-slides {
    transition: transform 1s ease;
    -webkit-transition: -webkit-transform 1s ease;
    -moz-transition: -moz-transform 1s ease;
    -o-transition: -o-transform 1s ease;
}
app-slide {
    display: none;
    background-color: black;
    border-radius: 15px 15px 15px 15px;
    transition: margin 0.20s ease;
    -webkit-transition: margin 0.20s ease;
    -moz-transition: margin 0.20s ease;
    -o-transition: margin 0.20s ease;
}
app-slide .counter {
    position: absolute;
    display: block;
    left: 20px;
    bottom: 20px;
    color: white;
    font: 30px 'Source Sans Pro', sans-serif;
}
app-slide.far-past {
    display: block;
    margin-left: -100%;
}
app-slide.past {
    visibility: visible;
    display: block;
    margin-left: -100%;
}
app-slide.current {
    visibility: visible;
    display: block;
}
app-slide.future {
    visibility: visible;
    display: block;
    margin-left: 100%;
}
app-slide.far-future {
    display: block;
    margin-left: 100%;
}
#app-draw {
    display: none;
    position: absolute;
    z-index: 1;
}
.navbar {
    display: none;
    position: fixed;
    width: 100%;
    height: 45px;
    left: 0;
    background-color: black;
    border: 1px solid black;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.09);
    -moz-box-shadow:    0px 5px 10px 0px rgba(0, 0, 0, 0.09);
    box-shadow:         0px 5px 10px 0px rgba(0, 0, 0, 0.09);
    -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
    z-index: 3;
}
.navbar ul {
    margin: 0;
    padding: 0;
}
.navbar .left li {
    float: left;
    list-style-type: none;
    padding-top: 8px;
    padding-left: 10px;
}
.navbar .right li {
    float: right;
    list-style-type: none;
    padding-top: 8px;
    padding-right: 10px;
}
.navbar > ul > li > a {
    font: 20px 'Source Sans Pro', sans-serif;
    color: white;
    text-decoration: none;
}
.logo {
    display: none;
    height: 30px;
    width: auto;
}
#barz {
    display: none;
    height: 25px;
    width: auto;
    padding-top: 2px;
    padding-left: 5px;
}
.lmenu {
    display: none;
    position: fixed;
    background-color: black;
    width: 240px;
    height: 100%;
    left: -240px;
    -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
    z-index: 3;
}
.lmenu ul {
    margin: 0;
    padding: 0;
}
.lmenu ul li {
    display: block;
    list-style-type: none;
    padding-top: 10px;
    padding-left: 15px;
}
.lmenu > ul > li > a {
    font: 20px 'Source Sans Pro', sans-serif;
    color: white;
    text-decoration: none;
}
.lmenu-open {
    left: 0;
}
.navbar-toright {
    left: 240px;
}
.hu3 {
    width: auto;
    height: 240px;
    margin-top: 120%;
    margin-left: -50px;
    font: 200px 'Source Sans Pro', sans-serif;
    color: white;   
    -webkit-transform: rotateZ(270deg);
    transform: rotateZ(270deg);
}