body {
	background-image: url("../img/agsquare.png");
}
.titulo {
	margin-top: 70px;
	margin-left: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  font-weight: 300;
  color: black;
}
.tituloid {
  margin-top: -50px;
  margin-left: 100px;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  font-weight: 300;
  color: black;
}
#idi {
  margin-top: 40px;
  margin-left: 45px;
  width: 300px;
}
#idsub {
  margin-top: -70px;
  margin-left: 342px;
  height: 45px;
}
.creditos {
    margin-left: 50px;
    margin-top: 25px;
    font: 15px 'Open Sans', sans-serif;
    font-weight: 300;
    padding-bottom: 15px;
}
.bvoltar {
  width: 45px;
  height: 45px;
  margin-left: 45px;
  margin-top: 60px;
}
.wvoltar {
  width: 45px;
  height: 45px;
  margin-left: 45px;
  margin-top: 60px;
}
.table td,
  .table th {
    background-color: #fff !important;
}
.table {
	width: 350px;
	margin-left: 45px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  border: 15px solid white;
  border-radius: 120px;
  box-shadow: 16px 15px 100px #CFCFCF;
}
#buscapn {
  width: 350px;
  margin-left: 45px;
  margin-top: 45px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  border: none;
}

@media (min-width: 240px) and (min-height: 320px;) {
  .titulo {
    font-size: 100px;
    margin-left: 60px;
  }
  #busbtn {
    width: 200px;
    height: 50px;
    font-size: 46px;
  }
  #busca {
    width: 500px;
    height: 50px;
    font-size: 46px;
  }
  .table {
    width: 700px;
    font-size: 46px;
    margin-left: 50px;
    border: 15px solid white;
    border-radius: 120px;
    box-shadow: 16px 15px 100px #CFCFCF;
  }
  .creditos {
    font-size: 38px;
  }
}