body{
	background-image: url('../img/black_lozenge.png');
}
textarea {
	max-height: 600px;
}
.slide {
    position: absolute;
    width: 800px;
    height: 600px;
    margin-top: 30px;
    margin-left: 250px;
    padding: 10px 10px 10px 10px;
    background-color: #eee;
    border: none;
    -moz-border-radius: 0 20px;
    -khtml-border-radius: 0 20px;
    border-radius: 0 20px;
    -webkit-border-radius: 20px;
    -webkit-border-radius: 20px;
}