/*
// *************************************************** //
// * Overpress CSS *********************************** //
// * Alpha Stage ************************************* //
// * Developed by: *********************************** //
// * Carlos Eduardo (carlosed_almeida@live.com) ****** //
// *************************************************** //
*/

/*
//
//  Fonts
//
*/

/*@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);*/

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
} 
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

/*
//
//  Defaults
//
*/

body, overpress-main {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    background-color: #000;
}

overpress-counter {
    position: absolute;
    color: #c6c6c6;
}

overpress-slide {
    background-color: #fff;
    border-radius: 5px;
    -webkit-perspective: 650px;
    -webkit-perspective-origin: center;
    transition: all 0.50s ease;
    -webkit-transition: all 0.50s ease;
    -moz-transition: all 0.50s ease;
    -o-transition: all 0.50s ease;
}

/*
//
// viewMode: 'presentation'
//
*/

overpress-counter.presentation {
    left: 20px;
    bottom: 20px;
    font-size: 20px;
}

overpress-slides.presentation {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    background-color: #000;
}

overpress-slide.presentation {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

overpress-slide.presentation.far-prev {
    display: block;
    margin-left: -200%;
    -webkit-filter: opacity(0.4);
}

overpress-slide.presentation.prev {
    display: block;
    margin-left: -100%;
    -webkit-filter: opacity(0.4);
    /*-webkit-transform: rotateY(-85deg);*/
}

overpress-slide.presentation.current {
    display: block;
}

overpress-slide.presentation.next {
    display: block;
    margin-left: 100%;
    -webkit-filter: opacity(0.4);
    filter: opacity(0.4);
    /*-webkit-transform: rotateY(-85deg);*/
}

overpress-slide.presentation.far-next {
    display: block;
    margin-left: 200%;
    -webkit-filter: opacity(0.4);
}

/*
//
// viewMode: 'overview'
//
*/

overpress-counter.overview {
    left: 8px;
    bottom: 8px;
    font-size: 15px;
}

overpress-slides.overview {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    background-color: #000;
    -webkit-perspective: 1000;
    perspective: 1000;
}

overpress-slide.overview {
    display: block;
    position: absolute;
    top: 0px;
    transform: translateZ(-2500px) translate(25%, 0%);
    -webkit-transform: translateZ(-2500px) translate(25%, 0%);
}

overpress-slide.overview.unfocused {
    -webkit-filter: opacity(0.4);
    filter: opacity(0.4);    
}

/*
//
// viewMode: 'devAuthor'
//
*/

overpress-mask.devAuthor {
    display: block;
    position: absolute;
    width: 100%;
    z-index: 9;
}

overpress-mask.devAuthor {
    top: 0;
    height: 100%;
    background: rgba(0,0,0,0.4);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 60%, rgba(0,0,0,0.4) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.4)), color-stop(60%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.4)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 60%, rgba(0,0,0,0.4) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 60%, rgba(0,0,0,0.4) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 60%, rgba(0,0,0,0.4) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 60%, rgba(0,0,0,0.4) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

overpress-author {
    display: block;
    position: absolute;
    margin: 10px 0 0 10px;
    z-index: 10;
}

overpress-author::shadow img {
    display: block;
    position: relative;
    max-width: 50px;
    margin: 2px 0px 0px 0px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

overpress-author::shadow a {
    display: block;
    position: relative;
    margin: -45px 0 0 60px;
    text-decoration: none;
    color: #fff;
    font: 400 16px 'Roboto', sans-serif;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

overpress-author::shadow span {
    display: block;
    position: relative;
    margin: 0px 0 0 60px;
    text-decoration: none;
    color: #fff;
    font: 300 13px 'Roboto', sans-serif;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

overpress-counter.devAuthor {
    left: 20px;
    bottom: 15px;
    font-size: 30px;
}

overpress-slides.devAuthor {
    display: block;
    position: relative;
    overflow: hidden;
    width: 585px;
    height: 430px;
    margin: 0;
    padding: 0;
    background-color: #ef1414;
}

overpress-slides.devAuthor:hover {
    background-color: #17bde5;
}

overpress-slide.devAuthor {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

overpress-slide.devAuthor.far-prev {
    display: block;
    margin-left: -200%;
    -webkit-filter: opacity(0.4);
    filter: opacity(0.4);
}

overpress-slide.devAuthor.prev {
    display: block;
    margin-left: -100%;
    -webkit-filter: opacity(0.4);
    filter: opacity(0.4);
}

overpress-slide.devAuthor.current {
    display: block;
}

overpress-slide.devAuthor.next {
    display: block;
    margin-left: 100%;
    -webkit-filter: opacity(0.4);
    filter: opacity(0.4);
}

overpress-slide.devAuthor.far-next {
    display: block;
    margin-left: 200%;
    -webkit-filter: opacity(0.4);
    filter: opacity(0.4);
}

/*
//
// viewMode: 'devFront'
//
*/

overpress-counter.devFront {
    left: 20px;
    bottom: 20px;
    font-size: 20px;
}

overpress-slides.devFront {
    position: absolute;
    overflow: hidden;
    background-color: #00ff89;
}

overpress-slide.devFront {
    display: none;
    position: absolute;
}

overpress-slide.devFront.far-prev {
    display: block;
    margin-left: -150%;
    -webkit-filter: opacity(0.4);
}

overpress-slide.devFront.prev {
    display: block;
    margin-left: -75%;
    -webkit-filter: opacity(0.4);
    /*-webkit-transform: rotateY(-85deg);*/
}

overpress-slide.devFront.current {
    display: block;
}

overpress-slide.devFront.next {
    display: block;
    margin-left: 75%;
    -webkit-filter: opacity(0.4);
    filter: opacity(0.4);
    /*-webkit-transform: rotateY(-85deg);*/
}

overpress-slide.devFront.far-next {
    display: block;
    margin-left: 150%;
    -webkit-filter: opacity(0.4);
}