body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}
.presentation {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    display: block;
    overflow: hidden;
    background-image: url("../img/black_lozenge.png");
}
.slides {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    display: block;
    -webkit-transition: -webkit-transform 1s ease-in-out;
    -moz-transition: -moz-transform 1s ease-in-out;
    -o-transition: -o-transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
}
.slide {
    display: none;
    position: absolute;
    overflow: hidden;
    width: 240px;
    height: 320px;
    left: 50%;
    top: 50%;
    margin-top: -200px;
    background-color: #eee;
    -webkit-transition: margin 0.25s ease-in-out;
    -moz-transition: margin 0.25s ease-in-out;
    -o-transition: margin 0.25s ease-in-out;
    transition: margin 0.25s ease-in-out;
}
.slide:nth-child(even) {
    -moz-border-radius: 20px 0;
    -khtml-border-radius: 20px 0;
    border-radius: 20px 0;
 /* includes Opera 10.5+ */
    -webkit-border-radius: 20px;
    -webkit-border-radius: 20px;
}
.slide:nth-child(odd) {
    -moz-border-radius: 0 20px;
    -khtml-border-radius: 0 20px;
    border-radius: 0 20px;
    -webkit-border-radius: 20px;
    -webkit-border-radius: 20px;
}
.slide p, .slide textarea {
    font-size: 20px;
}
.slide .counter {
    color: #999999;
    position: absolute;
    left: 20px;
    bottom: 20px;
    display: block;
    font: 30px 'Open Sans', sans-serif;
}
.slide.far-past {
    display: block;
    margin-left: -3033px;
}
.slide.past {
    visibility: visible;
    display: block;
    margin-left: -1833px;
}
.slide.current {
    visibility: visible;
    display: block;
    margin-left: -600px;
}
.slide.future {
    visibility: visible;
    display: block;
    margin-left: -300px;
}
.slide.far-future {
    display: block;
    margin-left: 0px;
}
#presentation-counter {
    color: #ccc;
    font: 100px 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    text-align: center;
}