html, body, .overpress, .slides {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.slide {
	position: absolute;
	display: block;
	width: 1140px;
	height: 634px;
	margin: 0;
	padding: 0;
}
.slide > .next {
}