.slide > .titulo-central {
	font: 150px 'Open Sans', sans-serif;
	margin-top: 350px;
	margin-left: 350px;
}
.slide > .sl1 {
    word-wrap: break-word;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    text-align: center;
}
.slide > .sl2 {
    word-wrap: break-word;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    text-align: center;

}
.slide > .sl3 {
    word-wrap: break-word;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    text-align: center;
}
.slide > .sl4 {
    word-wrap: break-word;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    text-align: center;
}
@media (min-width: 240px) and (min-height: 320px;) {
	.slide > .titulo-central {
		font: 70px 'Open Sans', sans-serif;
		margin-top: 300px;
		margin-left: 170px;
	}
	.slide > .corpo {
		font: 30px 'Open Sans', sans-serif;
    text-align: center;
	}
}
@media (min-width: 1366px) and (min-height: 768px) {
    .slide > .sl1 {
      font: 60px 'Open Sans', sans-serif;
    }
    .slide > .sl2 {
      font: 60px 'Open Sans', sans-serif;
    }
    .slide > .sl3 {
      font: 60px 'Open Sans', sans-serif;
    }
    .slide > .sl4 {
      font: 60px 'Open Sans', sans-serif;
    }
}
@media (min-width: 1600px) and (min-height: 1200px) {
    .slide > .sl1 {
      font: 80px 'Open Sans', sans-serif;
    }
    .slide > .sl2 {
      font: 80px 'Open Sans', sans-serif;
    }
    .slide > .sl3 {
      font: 80px 'Open Sans', sans-serif;
    }
    .slide > .sl4 {
      font: 80px 'Open Sans', sans-serif;
    }
}