/*
// *************************************************** //
// * Overpress Design  ******************************* //
// * Alpha Stage ************************************* //
// * Developed by Carlos Eduardo Barbosa de Almeida  * //
// *************************************************** //
*/

body, app-overpress, app-slides, app-slide {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}
app-slide {
    display: none;
    background-color: white;
    transition: margin 0.20s ease;
    -webkit-transition: margin 0.20s ease;
    -moz-transition: margin 0.20s ease;
    -o-transition: margin 0.20s ease;
}
app-slide.far-prev {
    display: block;
    margin-left: -100%;
}
app-slide.prev {
    display: block;
    margin-left: -100%;
}
app-slide.current {
    display: block;
}
app-slide.next {
    display: block;
    margin-left: 100%;
}
app-slide.far-next {
    display: block;
    margin-left: 100%;
}